<header>
  <h1>
  Welcome to the Gothenburger Admin Dashboard!
  </h1>
  <h2>
  Built with Rails <%= Rails.version %>
  </h2>
</header>
<section>
  <p>
    The dashboard will be here
  </p>
</section>
