<header>
  <h1>Welcome to Your Dashboard!</h1>
  <h2>
    <% if current_user %>
      <span>You are signed in as <%= current_user.email %></span>
    <% end %>
  </h2>
</header>
<section>
  <br>
  <%= image_tag "dashboard.jpg", class: "img-responsive"%>
</section>
