<footer class="navbar-default navbar-fixed-bottom">
  <div class="container">
    <small>
      <span>&copy; <a href="http://yum.nu"></span>Yum!</span></a> 2015</span>
      | Created by Christopher Comella
      <a href="http://github.com/chrisco"><span class="btn fa fa-github"></span></span></a>
      <a href="http://linkedin.com/in/comella"><span class="btn fa fa-linkedin"></span></span></a>
      <a href="http://twitter.com/chrisco"><span class="btn fa fa-twitter"></span></span></a>
    </small>
  </div>
</footer>
