<h1><i>Who's got the best burger in Gothenburg?</i></h1>
<div><%= image_tag "hero-shot.jpg", class: "img-responsive"%></div>
<br>
<!-- TODO: Make pages and route to them the Rails way -->
<div>
  <form>
    <button class="btn btn-success btn-lg btn-block" type="submit" formmethod="get" formaction="/sign_up-sign-in">Sign Up</button>
  </form>
</div>
<br>
<center>
  <p>or <a href="/learn_more">Learn More</a></p>
</center>
