<div>
  <center>
    <h1>
      <i>Who's got the best burger in Gothenburg?</i>
    </h1>
  </center>
</div>
<div>
  <center>
    <%= image_tag "hero-shot.jpg", class: "img-responsive"%>
  </center>
</div>
<br>
<div>
  <center>
    <div class="btn-group">
      <%= button_to "Sign Up", user_registration_path, class: "btn btn-success btn-lg" %>
    </div>
    <div class="btn-group">
      <%= button_to "Sign In", new_user_session_path, class: "btn btn-success btn-lg" %>
    </div>
  </center>
</div>
<br>
<div>
  <center>
    <%= link_to "Learn More &raquo;".html_safe, learn_more_index_path %>
  </center>
</div>
